@font-face {
    font-family: "audi";
    src: url("./fonts/AudiTypeVF_Lat.woff2");
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}

.navLeft {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.navLeft img {
    width: 100px;
}

.navLeft .navitems {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0 1.4rem;
}

.navitems li {
    font-size: 16px;
    font-weight: lighter;
    font-family: "audi", sans-serif;
    color: gray;
}


.heroSection {
    width: 100%;
    position: relative;
}

.heroImg img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: -1;
}

.heroContent {
    position: absolute;
    bottom: 60px;
    left: 110px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heroTitle h1 {
    font-family: "audi", sans-serif;
    font-size: 46px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
}

.heroPara p {
    font-family: "audi", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(238, 235, 235);
}

.heroBtn button{
    border: none;
    padding: 15px 30px;
    font-size: 18px;
}

.topicSection {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.topicTitle {
    text-align: center;
    font-family: "audi", sans-serif;
    color: rgba(55, 55, 55, 0.995);
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.topicCardsMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1.5rem;
}

.topicCard {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.cardImg img {
    width: 100%;
}

.cardTitle h2 {
    font-weight: lighter;
    font-family: "audi",sans-serif;
}

.cardPara p {
    color: rgb(45, 45, 45);
}

.cardBtn {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0 0.7rem;
}

.cardBtn a {
    color: black;
    text-underline-offset: 8px;
    font-size: 18px;
}
.cardBtn:hover .fa-greater-than{
    transform: translateX(15px);
    transition: all 0.5s;
}
.fa-greater-than{
    font-weight: lighter !important;
}



.infoSection{
    padding:80px 60px;
    display: flex;
    flex-direction: column;
    gap: 6rem
}

.infocard{
    display: flex;
    justify-content: center;
    gap:30px;
}
.infocard2{
    flex-direction: row-reverse;
}
.infocardLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:3rem;
    font-family:"audi",sans-serif;
    padding: 30px;
}
.infoTitle h2{
    font-size: 34px;
    font-weight: 500;
    letter-spacing:3px;
}
.infoPara p{
    font-size: 18px;
    color: rgb(45, 45, 45);
    line-height:1.5rem;
}
.infoBtn button{
    border: none;
    border: 1px solid black;
    padding: 15px 30px;
    font-size: 18px;
    background-color: white;
}

.infocardRight{
width: 50%;
}
.infocardRight img{
    width: 100%;
    height: 100%;
}
.pressBtn{
    text-align: center;
}
.pressBtn button{
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    color: white;
}