@font-face {
    font-family:"audi";
    src: url("./fonts/AudiTypeVF_Lat.woff2");
}

*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 60px;
}
.navLeft{
    display: flex;
    align-items: center;
    gap:0 1rem;
}
.navLeft img{
    width:100px;
}

.navLeft .navitems{
    display: flex;
    list-style: none;
    align-items: center;
    gap:0 1.4rem;
}
.navitems li{
    font-size:16px;
    font-weight: lighter;
    font-family: "audi",sans-serif;
    color:gray;
}