*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    padding: 15px 20px;
}
.nav-bar div{
    display: inline-block;
}
.left-content img{
   vertical-align: middle;
}
.left-content ul{
    display: inline-block;
    margin-bottom:0px;
    padding: 0px;
    margin-left: 10px;
}
.left-content li{
    display:inline-block;
    list-style: none;
    padding: 0px 5px;
}
.right-content{
    float: right;
}
.btn{
    padding: 10px 25px;
    border: none;
    background-color: transparent;
}
.right-content .signupBtn{
    background: green;
    border-radius: 5px;
    color: white;
}


.hero-section{
    max-width: 1400px;
    margin:0 auto;
    background-image: url("./images/hero\ img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding:30px 40px;
    height: 80vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hero-title{
    color: white;
    font-size:4.6rem;
    width: 50%;
    font-weight: 500;
}


.hero-card{
    background-color: #46434bd0;
    width: 50%;
    padding: 35px 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 15px;
}
.card-btns{
    display: inline-block;
    width: 100%;
}
.hero-card button{
   border-radius: 20px;
   border: none;
}
.cardBtn{
    width: 40%;
    padding: 8px 5px;
    background-color: #212022d8;
    color: white;
}
.activeBtn{
    border: 3px solid white !important;
}

.search{
    width: 100%;
    margin: 10px auto;
}
.search input{
    width: 70%;
    padding: 14px 20px;
    border-radius: 20px;
    border: none;
    margin-left:60px;
}
.search input:focus{
    outline: none;
}
.search button{
    padding: 5px 10px;
    background: black;
    color: white;
    position: relative;
    left: -150px;
    font-size:20px;
    vertical-align: middle;
}
.search i{
    color: greenyellow;
    font-size:20px;
}


.logos{
    text-align: center;
    margin-top:20px;
}
.logos img{
    display:inline-block;
    width: 100px;
    margin: 5px 5px;
    height: 30px;
}


.aboutSection{
    max-width: 1300px;
    margin: 0 auto;
    padding:30px 40px;
}

.aboutTitle h2{
    font-size:50px;
}
.aboutSection .aboutLeft,.aboutRight{
    display: inline-block;
}
.aboutLeft img{
    vertical-align: middle;
}


.aboutRight{
    display: inline-block;
    padding: 30px 20px;
    vertical-align: middle;
}

.aboutList{
    margin-top:18px;
}

.listPara p{
    margin-left: 24px;
    font-size: 20px;
    color: rgb(73, 72, 72);
}
.listTitle h4{
    display: inline-block;
    margin-left:5px;
    font-size:22px;
    margin-top:5px;
}

.aboutBtns{
    margin-top:20px;
}
.aboutBtns button{
    border: none;
    border-radius:8px;
    padding:10px 15px;
    font-size:18px;
}
.greenBtn{
    background-color:green;
    color: white;
    &:hover{
        background-color: rgba(6, 167, 6, 0.947);
    }
}
.whiteBtn{
    border: 1px solid green !important;
    color: green;
    background-color: white;
}